.wrapper{
    background: lightgray;
    width: 700px;
    height: 700px;
    margin: auto;


}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 90px;

}
.block_square1{
    width: 250px;
    height: 250px;
    background: #008080;
    position: relative;
    left: 25px;

}
.block_square2{
    width: 250px;
    height:250px;
    background: #20B2AA;
    top:30px;
    right: 30px;
    position: relative;
}
.block_square3{
    width: 250px;
    height: 250px;
    background: #7FFFD4;
    position: relative;
    bottom: 25px;
    left: 10px;
}
.block_square4{
    width: 250px;
    height: 250px;
    background: #E0FFFF;
    position: relative;
    bottom: -10px;
    left: -15px;

}
.block_square1:hover{
    z-index: 100;
}
.block_square2:hover{
    z-index: 100;
}
.block_square3:hover{
    z-index: 100;
}

.block_square4:hover{
    z-index: 100;
}

.circle {
    width: 60px;
    height: 60px;
    background: #3c6060;
    border-radius: 50%;
    transform: translateY(175px) rotate(45deg);
    position: absolute;
    left: 180px;

}
.circle span{
    background: lightgreen;
    width: 40px;
    height: 5px;
    position: absolute;
    top: 45%;
    left: 10px;
}
span:last-child{
    transform: translateX(0px) rotate(90deg);
}
