* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: #5d5d5d;
}
img {
    width: 100%;
    height: auto;
}
.wrapper {
    margin: 0 auto;
    max-width: 1024px;
}
header {
    border-bottom: 2px solid gray;
}
.headerBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
}

.logo {
    width: 230px;
}

.headerMenu__item {
    display: inline-block;
    list-style: none;
    padding: 12px 24px;
}

.headerMenu__item:hover {
    cursor: pointer;
    background: #373737;
}

.headerMenu__item:hover a {
    color: white;
}

.headerMenu__item a {
    color: #373737;
    text-decoration: none;
}

.mainBunner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 15px;
}
.mainBunner__title {
    font-size: 60px;
    font-weight: normal;
}
.mainBunner__subTitle {
    font-size: 47px;
    margin-bottom: 30px;
}
.mainBunner__userAction {
    align-items: center;
    background: #373737;
    color: white;
    display: flex;
    font-size: 23px;
    justify-content: flex-start;
    max-width: 205px;
    padding: 12px;
}
.mainBunner__userAction:hover {
    cursor: pointer;
    background: #4c4c4c;
}
.userAction__icon {
    width: 33px;
    margin-right: 12px;
}

.mainBunnerImgContent {
    width: 700px;
}
/*   Main bunner

 */
main{
    display: flex;
    align-items: flex-start;
    padding-right: 25px;
}

.articlesBlock{
    width: 80%;
    background: white;
    padding-right: 25px;
    margin-bottom: 20px;
}
.mainArticle{
    display: flex;
    margin-bottom: 15px;
}
.mainArticle__img{
    width: 310px;
    min-width: 310px;
    margin-right: 20px;
}
.mainArticleManager{
    display: flex;
    margin-left: auto;

}
.mainArticleManager img{
    width: auto;
}
.mainArticle__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainArticleManager__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;
}

.mainArticleManager__arrow-left{
    background: #7c7c7c;
}
.mainArticleManager__arrow-right{
    background: #989898;
}

.articles {
}
.articleLine {
    display: flex;
    margin-bottom: 15px;
}
.article {
    max-width: 30%;
    margin-right: 15px;
}

.article h3 {
    margin-bottom: 20px;
}


/* sidebar*/
.sideBar{
    width: 25%;
    background: white;
    height: 865px;
}
.mainSideBar img {

    flex-wrap: wrap;
    margin-bottom: 20px;

}
.frame {
    border: 1px solid gray;
}
.footer  {
    background: #393a39;

}
.footerText {
    height: 60px;
    display: flex;
    justify-content: center;

}
.footer p{
    color: white;
}

.icons{
    display: flex;
    width: 20px;
    height: 20px;
    position: relative;
    left: 900px;
    top: 25px;

}
.icon1 img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.icon2 img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.icon3 img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


